<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://logfunctionapp20200303120214.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/51d53d0b-9b7c-4433-83a6-10b996b3e629/resourcegroups/FunctionResourceGroup/providers/Microsoft.Web/sites/LogFunctionApp20200303120214</ResourceId>
    <UserName>$LogFunctionApp20200303120214</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://logfunctionapp20200303120214.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>